	      body {
		width: 80%;    
		margin: 0 auto;
		font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;   
		background: #eee9df url(../images/tile1.png) center top repeat;
	      }
	      h1 {
		font: 18pt Helvetica,"Helvetica neue", Arial, sans-serif;    
		text-transform: uppercase;
		color: #e5b7ad;    
		/*padding-top: 30px ;*/
		padding-top: 10px ;
	      }
	      body > header {    
		padding:0px;
		text-align: center;  
		overflow: auto;
	      }
	      /*body > header > h1 {
		float:left;
		width: 75%;
		font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;    
		text-align: center;
	      }*/
	      body > header > picture {
		float:left;
		width: 20%;
	      }
	      body > header > picture > img {
		width: 100%;
	      }
	      body > section {	
		float: right;
		width: 70%;	
		padding-left: 20px;
		margin: 0 0 20px 0px;	
		border-left: 2px dotted #b2a497;
	      }
	      body > section h2 {
		font: 14pt Helvetica,"Helvetica neue", Arial, sans-serif;	
		font-weight: lighter;
		text-transform: uppercase;	color: #493831;
		padding-bottom: 10px;	
		margin: 0;
	      }      
	      nav { 
		text-align: center;
		/* añadido */
		padding-bottom: 10px;
	      }
	      nav a{
		padding: 30px;
	      }
	      aside{	
		float: left;
		width: 20%;	
		min-height: 480px;
		margin: 0 0 20px 0;
	      }
	      footer{	clear:both;
		/*height: 100px;*/
		height: 100%;
		padding: 10px;
		color:#200f08 ;	
		background:#ddd3bf;
		  /*Opacity*/
		filter:alpha(opacity=50); /* msie */  	
		-moz-opacity: 0.50; /* firefox 1.0 */  
		-khtml-opacity: 0.50; /* webkit */  	
		opacity: 0.50; /* css 3 */
		/*Gradient*/
		background-image: -moz-linear-gradient(top, #ddd3bf, #bcae91); /* FF3.6 */	
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd3bf),color-stop(1, #bcae91)); /* Saf4+, Chrome *
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd3bf', EndColorStr='#bcae91');   /* IE6,IE7 */	
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd3bf', EndColorStr='#bcae91')"; /* IE8 */
		/*Round corners*/
		-moz-border-radius: 12px; /* FF1+ */	-webkit-border-radius: 12px; /* Saf3+, Chrome */
		border-radius: 12px; /* Opera 10.5, IE 9 */
	      }
		form div 
	      {
		padding:10px;
	      }
	      form div > label
	      {
		display: block;
		width: 100%;
	      }
	/*
	#estilo2
		html,body {
		height:100%;
			}
			nav { 
				text-align: center;
			}
			nav a{ 
				padding: 30px;
			}
			header {
		    display:block;
		  background:#AAA;
		padding:10px 0px;
			}
			section {
		width: 79%;
		background: #DDD;
		float: left;
		overflow: auto;	
		    padding-bottom: 60px;
		  padding-top:30px;
			}
		aside {
	    float: right;
	    border: 1px dotted red;
	    width: 19%;
			text-align: center;
		}
		footer {
	    position: relative;
	    padding:5px 0px;
	    clear: both;
	    background: #000;
	    text-align: center;
	    color: #fff;
			margin: auto;
		}
		 form div 
	      {
		padding:10px;
	      }
	      form div > label
	      {
		display: block;
		width: 100%;
	      }
	  */

nav a:hover{
	border-style: solid;
	border-color: yellow;
}

body > header{
	/*margin-top:60px;*/
	margin-top:100px;
}

section article p{
	padding: 2em 1em;
	margin-bottom: 2em;
	background-color: #e9ecef;
	border-radius: 1em;
}

body > header > h1 {
	float:left;
	width: 75%;
	font: 32pt "Comic Sans MS", cursive, sans-serif;
	color: #ff7f50;
	background-color: #fdd1ab;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-bottom: 10px;
}

fieldset {
    border: 2px solid #ff7f50;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 20px;
}